.full {
   flex: 1;
}
.nineTenth {
   flex: 0.9;
}
.eightTenth {
   flex: 0.8;
}
.sevenTenth {
   flex: 0.7;
}
.sixTenth {
   flex: 0.6;
}
.half {
   flex: 0.5;
}
.fourTenth {
   flex: 0.4;
}
.threeTenth {
   flex: 0.3;
}
.twoTenth {
   flex: 0.2;
}
.oneTenth {
   flex: 0.1;
}
