.center {
   justify-content: center;
}
.baseline {
   justify-content: baseline;
}
.flexStart {
   justify-content: flex-start;
}
.flexEnd {
   justify-content: flex-end;
}
.spaceBetween {
   justify-content: space-between;
}
.spaceAround {
   justify-content: space-around;
}
.spaceEvenly {
   justify-content: space-evenly;
}