.full {
   height: 100%;
}
.nineTenth {
   height: 90%;
}
.eightTenth {
   height: 80%;
}
.sevenTenth {
   height: 70%;
}
.sixTenth {
   height: 60%;
}
.half {
   height: 50%;
}
.fourTenth {
   height: 40%;
}
.threeTenth {
   height: 30%;
}
.twoTenth {
   height: 20%;
}
.oneTenth {
   height: 20%;
}
.fullScreen {
   height: 100vh;
}
