.full {
   width: 100%;
}
.nineTenth {
   width: 90%;
}
.eightTenth {
   width: 80%;
}
.sevenTenth {
   width: 70%;
}
.sixTenth {
   width: 60%;
}
.half {
   width: 50%;
}
.fourTenth {
   width: 40%;
}
.threeTenth {
   width: 30%;
}
.twoTenth {
   width: 20%;
}
.oneTenth {
   width: 20%;
}
.fullScreen {
   width: 100vh;
}
