.black {
   border-color: #000;
}
.white {
   border-color: #fff;
}
.offWhite {
   border-color: #f9f9f9;
}
.darkGray {
   border-color: #53585b;
}
.gray {
   border-color: #ccc;
}
.lightSalmon {
   border-color: #fcddd5;
}
.lightGreen {
   border-color: #00a388;
}
.lightBlue {
   border-color: #7e96f7;
}