.radius5 {
   border-radius: 5px;
}
.topLeft5 {
   border-top-left-radius: 5px;
}
.topRight5 {
   border-top-right-radius: 5px;
}
.bottomLeft5 {
   border-bottom-left-radius: 5px;
}
.bottomRight5 {
   border-bottom-right-radius: 5px;
}