.black {
   background: #000;
}
.white {
   background: #fff;
}
.offWhite {
   background: #f9f9f9;
}
.darkGray {
   background: #53585b;
}
.gray {
   background: #ccc;
}
.lightSalmon {
   background: #fcddd5;
}
.lightGreen {
   background: #00a388;
}
.lightBlue {
   background: #7e96f7;
}
.transparent {
   background: transparent;
}