.black {
   color: #000;
}
.white {
   color: #fff;
}
.offWhite {
   color: #f9f9f9;
}
.darkGray {
   color: #53585b;
}
.gray {
   color: #ccc;
}
.lightSalmon {
   color: #fcddd5;
}
.lightGreen {
   color: #00a388;
}
.lightBlue {
   color: #7e96f7;
}